.nav-bar {
    margin-left: 1px;
}

.logo {
    position: absolute;
    width: 177px;
    height: 48px;
    left: 100px;
    top: 71px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 1px;
    color: #282A30;
}

.logo-shop {
    position: absolute;
    height: 21.49px;
    width: 18px;
    top: 84.2px;
    left: 1186px;

}

.logo-search {
    position: absolute;
    height: 29.02px;
    width: 27px;
    top: 80.98px;
    left: 1289px;
}

.nav-links {
    display: flex;
    justify-content: center;

}

.li-nav-links {
    display: inline-flex;
    margin-left: 20px;
    margin-top: 70px;
    margin-right: 100px;
    text-decoration: none;
}

.second-section {
    margin-top: 200px;
    width: 1425px;
    height: 767px;
}

.vectors {
    height: 896px;
    width: 698px;
}

.vectors-section-two {
    position: absolute;
    width: 896px;
    height: 698.5px;
    top: 217.5px;
    left: -45px;

}

.red-rectangle {
    position: absolute;
    width: 35px;
    height: 264px;
    top: 232px;

}

.room-second-section {
    position: absolute;
    width: 465px;
    height: 698px;
    top: 208px;
    left: 837px;
}

.points {
    position: absolute;
    width: 318px;
    height: 202.04px;
    top: 226.76px;
    left: 1062px;

}

.rectangle-room {
    position: absolute;
    width: 451px;
    height: 702px;
    top: 273px;
    left: 887px;
    Background: #E5E5E5;
}

.decorate-home {
    position: absolute;
    width: 171px;
    top: 330px;
    left: 100px;
    color: rgba(247, 81, 92, 100%);

}

.second-section-text {
    position: absolute;
    width: 650px;
    height: 227px;
    top: 392px;
    left: 100px;
    color: #282A30;
    font-size: 55px;
    line-height: 67.05px;
    font-family: Montserrat;
}

.second-section-button {
    width: 230px;
    height: 78px;
    background-color: rgba(247, 81, 92, 100%);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    line-height: 26.82px;
    color: white;
    margin-top: 20px;
    border-color: rgba(247, 81, 92, 100%);
}

.second-section-btn-discover {
    height: 50px;
    width: 120px;
    margin-right: 67px;
    background-color: rgba(247, 81, 92, 100%);
    border-color: rgba(247, 81, 92, 100%);
    color: white;
}

.second-section-btn-watch-video {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 17px 0px rgba(34, 60, 80, 0.1);
    background-color: white;
}

.watch-video-text {
    font-size: 20px;
}

.treangle-second-section {
    width: 21px;
    height: 21px;
    margin-right: -4px;
    margin-bottom: -9px;
    font-family: Montserrat;
}

.img-flower {
    position: absolute;
    width: 483px;
    height: 723px;
    top: 1225px;
    left: 100px;
}

.second-section-black-rectangle1 {
    position: absolute;
    width: 440px;
    height: 305px;
    top: 1557px;
    left: 192px;
}

.second-section-black-rectangle2 {
    position: absolute;
    width: 205px;
    height: 180px;
    top: 1746px;
    left: 52px;
}

.second-section-points {
    position: absolute;
    width: 482.07px;
    height: 306.29px;
    top: 1729px;
    left: 192px;
}

.second-section-text-about {
    width: 194px;
    height: 73px;
    margin: 1166px 128px 0 711px;
    font-size: 60px;
    font-weight: 700;
    line-height: 73.14px;
}

.furniture-empty-text {
    position: absolute;
    width: 491px;
    height: 122px;
    top: 1299px;
    left: 711px;
    font-size: 100px;
    line-height: 121.9px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;

}

.seconde-section-text {
    position: absolute;
    width: 521px;
    height: 128px;
    top: 1560px;
    left: 711px;
    vertical-align: top;
    line-height: 40px;
    font-size: 22px;
    color: rgba(40, 42, 48, 0.5)

}

.third-section {
    width: 1228px;
    height: 1026.29px
}


.third-section-text {
    width: 428px;
    height: 49px;
    font-weight: 600;
    font-size: 40px;
    margin: 206px 0 0 95px;

}

.furniture-empty-text-third-section {
    width: 491px;
    height: 122px;
    margin-top: 20px;
    margin-left: 95px;
    font-size: 100px;
    font-weight: 700;
    line-height: 122px;
    vertical-align: top;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}

.third-section-img {
    /*position: absolute;*/
    width: 1009px;
    height: 577px;
    margin-left: 216px;
}

.third-section-points {
    position: absolute;
    width: 482.07px;
    height: 306.29px;
    top: 2962px;
    left: 285px;

}

.rectangle1 {
    margin-top: -526px;
    margin-left: 107px;
}


.full-service-rectangle {
    /*position: absolute;*/
    width: 528px;
    height: 317px;
    /*top: 2516px;*/
    /*left: 86px;*/

}

.third-sect-circle1 {
    /*position: absolute;*/
    width: 51px;
    height: 51px;
    margin-left: -434px;
    margin-bottom: 146px;
    /*top: 2641px;*/
    /*left: 200px;*/
}

.third-section-rectangle3-title {
    /*position: absolute;*/
    width: 129px;
    height: 24px;
    /*top: 2648px;*/
    margin-top: -190px;
    margin-left: 203px;
}

.rectangle1-text {
    width: 238px;
    height: 42px;
    margin-left: 190px;
    margin-bottom: 500px;
    /*margin-top: -17px;*/
    font-size: 14px;
    color: rgba(40, 42, 48, 0.4);

}

.rectangle1-num1 {
    position: absolute;
    color: rgba(247, 81, 92, 100%);
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    top: 2705px;
    left: 234px;

}

.rectangle2 {
    margin-left: 755px;
    margin-top: -916px;
}

.long-warranty-rectangle {
    width: 528px;
    height: 317px;
}

.third-sect-circle2 {
    width: 51px;
    height: 51px;
    margin-left: -433px;
    margin-bottom: 144px;
}

.third-section-rectangle3-title {
    width: 200px;
    height: 24px;
    margin-top: -182px;
    margin-left: 190px;
    font-size: 20px;
    font-weight: 700;

}

.rectangle2-text {
    width: 238px;
    height: 42px;
    margin-left: 190px;
    margin-bottom: 500px;
    /*margin-top: -17px;*/
    font-size: 14px;
    color: rgba(40, 42, 48, 0.4);
}

.rectangle2-num2 {
    position: absolute;
    top: 2515px;
    left: 878px;
    color: rgba(247, 81, 92, 100%);
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
}

.rectangle3 {
    margin-top: -166px;
    margin-left: 865px;
}

.modern-design-rectangle {
    width: 528px;
    height: 317px;
}

.third-sect-circle3 {
    width: 51px;
    height: 51px;
    margin-left: -433px;
    margin-bottom: 144px;
}

.rectangle3-text {
    width: 238px;
    height: 42px;
    margin-left: 190px;
    /*margin-bottom: 400px;*/
    /*margin-top: -17px;*/
    font-size: 14px;
    color: rgba(40, 42, 48, 0.4);
}

.rectangle3-num3 {
    top: 3070px;
    left: 988px;
    position: absolute;
    color: rgba(247, 81, 92, 100%);
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
}

.fourth-section {
    margin-top: 165px;
    padding-left: 20px;
    width: 1300px;
    height: 642px;
    margin-left: 10px;
}

.fourth-section-description {
    margin-left: 65px;

}

.fourth-section-text {
    width: 428px;
    height: 49px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;
    color: rgba(40, 42, 48, 1);
}

.fourth-section-title {
    margin-top: 20px;
    width: 422px;
    height: 122px;
    font-size: 100px;
    font-weight: 700;
    /*font-family: Montserrat;*/
    line-height: 122px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}

.fourth-section-images {
    margin-top: -92px;
}

.fourth-section-img-lamp, .fourth-section-img-chear,
.fourth-section-img-ligth, .fourth-section-img-clock {
    width: 320px;
    height: 380px;
    /*margin-left: -110px;*/
}

.images-description {
    width: 1100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 80px;
    margin-top: -20px;
}

.lamp {
    position: absolute;
    left: 112px;
rgba(40, 42, 48, 1):;
    font-size: 16px;
    font-weight: 700;
    font-family: Montserrat;
}

.lamp-price {
    margin-left: 41px;
    color: rgba(40, 42, 48, 0.3);
}

.chair {
    position: absolute;
    left: 440px;
rgba(40, 42, 48, 1);
    font-size: 16px;
    font-weight: 700;
    font-family: Montserrat;
}

.chair-price {
    margin-left: 50px;
    color: rgba(40, 42, 48, 0.3);
}

.light {
    position: absolute;
    left: 795px;
rgba(40, 42, 48, 1);
    font-size: 16px;
    font-weight: 700;
    font-family: Montserrat;

}

.light-price {
    margin-left: 27px;
    color: rgba(40, 42, 48, 0.3);
}

.clock {
    right: 220px;
    position: absolute;
rgba(40, 42, 48, 1);
    font-size: 16px;
    font-weight: 700;
    font-family: Montserrat;
}

.clock-price {
    margin-left: 19px;
    color: rgba(40, 42, 48, 0.3);
}


.five-section {
    margin-top: 180px;
    height: 642px;
    width: 1219px;

}


.five-section-title {
    margin-top: -561px;
    width: 245px;
    height: 122px;
    margin-left: 95px;
    font-weight: 700;
    font-size: 100px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}


.five-section-text {
    width: 432px;
    height: 122px;
    margin-left: 95px;
    margin-top: -106px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 100px;
    vertical-align: top;
}


.five-section-image-rectangle {
    margin-top: -100px;

}

.five-section-rectangle {
    width: 739px;
    height: 504px;
    margin-left: 375px;

}

.five-section-image {
    width: 506px;
    height: 714px;
    margin-top: -676px;
    margin-left: 745px;

}

.five-section-points {
    width: 482.07px;
    height: 301.2px;
    margin-left: 839px;
}

.five-section-btn {
    width: 240px;
    height: 90px;
    margin-left: 95px;
    margin-top: -22px;
    background-color: rgba(247, 81, 92, 100%);
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 26px;
    border-color: rgba(247, 81, 92, 100%);

}

.footer {
    height: 442px;
    width: 1219px;
    margin-top: 350px;
}

.footer-line-img {
    width: 1242px;
    height: 2px;
    margin-left: 95px;
}

.footer-list {
    margin-top: 100px;
    display: flex;
}

.footer-description {
    display: flex;
}

.footer-description-get {
    margin-left: 100px;

}

.footer-title-get {
    width: 132px;
    height: 72px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 31.2px;
    letter-spacing: 1px;
}

.footer-text-check {
    margin-top: 34px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.6px;
    letter-spacing: 1px;
    color: rgba(40, 42, 48, 0.8);
    text-decoration: none;
}

.footer-description-our {
    width: 150px;
    margin-left: 188px;
}

.footer-title-our {
    font-family: Montserrat;
    font-weight: 600;
    font-weight: 600;
    font-size: 20px;
    line-height: 31.2px;
    letter-spacing: 1px;
}

.footer-text-our {
    margin-top: 34px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.6px;
    letter-spacing: 1px;
    color: rgba(40, 42, 48, 0.8);
    text-decoration: none;

}

.footer-description-company {
    margin-left: 170px;
}

.footer-title-company {
    font-family: Montserrat;
    font-weight: 600;
    font-weight: 600;
    font-size: 20px;
    line-height: 31.2px;
    letter-spacing: 1px;
}

.footer-text-company {
    margin-top: 34px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.6px;
    letter-spacing: 1px;
    color: rgba(40, 42, 48, 0.8);
    text-decoration: none;
}

.footer-description-contact {
    margin-left: 204px;
}

.footer-title-contact {
    font-family: Montserrat;
    font-weight: 600;
    font-weight: 600;
    font-size: 20px;
    line-height: 31.2px;
    letter-spacing: 1px;
}

.footer-text-furniutr {
    margin-top: 34px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.6px;
    letter-spacing: 1px;
    color: rgba(40, 42, 48, 0.8);
    text-decoration: none;
}